<ion-view view-title="Posting" name="posting-view">
  <ion-content id='ionContent' class="padding">
    <button class="button button-clear button-dark"><b>취소</b></button>
    <h1 class="title"><b>{{appName}}</b></h1>
    <button class="button button-clear button-positive" ng-click="onClickPost()"><b>등록</b></button>
    <ul class="list" id='ionList'>
      <li class="item">
        <input type="text" style="width:85vw;" maxlength="50" ng-model="postData.title" placeholder="제목을 입력해주세요.">
      </li>
      <li class="item">
        <textarea id="textArea" style="resize:none;width:85vw;height:69vh;" ng-model="postData.content" placeholder="내용을 입력해주세요."></textarea>
      </li>
    </ul>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar bar-footer">
    <div class="buttons" ng-click="clickFolder()">
      <button class="button icon ion-folder button-light"></button>
    </div>
    <div id="divInput">
    </div>
  </ion-footer-bar>
</ion-view>
