<!DOCTYPE html>
<html ng-app="demoApp">
<head>
  <!-- 생략 -->
  <script src="libs/ng-file-upload/angular-file-upload-shim.min.js"></script>
  <script type="text/javascript" src="libs/angular/angular.min.js"></script>
  <script src="libs/ng-file-upload/angular-file-upload.min.js"></script>
  <script>
    angular.module('demoApp', ['angularFileUpload'])
    //angularFileUpload 모듈을 사용하면 $upload 서비스를 주입받아 사용할 수 있다.
      .controller('mainCtrl', ['$scope','$upload', function ($scope, $upload) {

      }]);
  </script>
</head>
<body>
<div class="container" ng-controller="mainCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    </div>
  </div>
</div>
</body>
</html>
