<!DOCTYPE html>
<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!--For users deploying their apps to Windows 8.1 or Android Gingerbread, platformOverrided.js
    will inject platform-specific code from the /merges folder -->
    <script src="js/platformOverrides.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers_Posting.js"></script>
  </head>
  <body ng-app="starter" ng-controller="postCtrl">
    <ion-header-bar align-title="center" class="bar bar-header">
      <button class="button button-clear button-dark"><b>취소</b></button>
      <h1 class="title"><b>{{appName}}</b></h1>
      <button class="button button-clear button-positive" ng-click="onClickPost()"><b>등록</b></button>
    </ion-header-bar>
    <ion-content id='ionContent'>
	  <ul class="list" id='ionList'>
        <li class="item">
          <input type="text" style="width:85vw;" maxlength="50" ng-model="postData.title" placeholder="제목을 입력해주세요.">
        </li>
        <li class="item">
          <textarea id="textArea" style="resize:none;width:85vw;height:69vh;" ng-model="postData.content" placeholder="내용을 입력해주세요."></textarea>
        </li>
      </ul>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar bar-footer">
      <div class="buttons" ng-click="clickFolder()">
        <button class="button icon ion-folder button-light"></button>
      </div>
      <div id="divInput">
      </div>
    </ion-footer-bar>
  </body>
</html>
